snippet doc "Documentation" b
**
  * 
  * @author Carlos  
  *
  * @since 1.0
  *
  * @param int    $example  This is an example function/method parameter description.
  * @param string $example2 This is a second example.
  */


endsnippet
